# Build and Release Folders

# Other files and folders
.settings/
obj/
air/
bin/
bin/worryspriteTools.swf
src/WorkerProject.swf

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
